In [1]:
#pandas

#PANDAS IS A POWERFUL LIBRAY OF PYTHON IN WHICH YOU CAN MANIPULTE AND ANALYSE THE DATA.
#IT TYPICALLY WORKS UPON SERIES AND DATA FRAMES.

In [2]:
#Series and data frames

#Dataframes :-
#It is used to organise and anlayse the data collection gathered by any device.

#Series :- 
#It is used in pre processing of data.

In [3]:
import pandas as pd

In [17]:
#Create a dictionary
data = {
    "Name":["Ayush","Abhijeet","Lucky","Atul","Anubhav","Anirudh","Anchal","Anshika"],
    "Age":[21,22,23,24,25,21,22,27],
    "City":["Noida","Haridwar","Greater Noida","Meerut","Bhopal","patna","balrampur","orai"]
}

#Create a dataframe from the dictionary
df = pd.DataFrame(data)
print(df)
print(df.head())

       Name  Age           City
0     Ayush   21          Noida
1  Abhijeet   22       Haridwar
2     Lucky   23  Greater Noida
3      Atul   24         Meerut
4   Anubhav   25         Bhopal
5   Anirudh   21          patna
6    Anchal   22      balrampur
7   Anshika   27           orai
       Name  Age           City
0     Ayush   21          Noida
1  Abhijeet   22       Haridwar
2     Lucky   23  Greater Noida
3      Atul   24         Meerut
4   Anubhav   25         Bhopal

In [18]:
#Data Exploration is a term in AI in which we can distrubute and categorize the data using some patterns and inspect that data,this is known as data exploration and analysis.

In [20]:
data = pd.read_csv("dummy.csv",index_col="Name")

first = data["Age"]

print(first)

Name
John Doe           28
Jane Smith         34
Michael Johnson    45
Emily Davis        29
David Wilson       39
Name: Age, dtype: int64