In [1]:
#TODAY'S TOPIC :-

#Tuple creation.
#Index ranges.
#Slicing of tuple.
#Sorting of tuple.
#max and min.
#count and index.
#tuple unpacking.
#nested tuple.
#tuple into list.
#tuple concatenation and repetition.

('apple', 'banana', 'mango', 'grapes')
apple
grapes

In [1]:
#tuple creation

fruits = ("apple","banana","mango","grapes")
print(fruits)

print(fruits[0])
print(fruits[-1])

#the index range starts from 0 to infinity in clockwise direction. and in anticlockwise directioh , it starts from -1 to infinity.

('apple', 'banana', 'mango', 'grapes')
apple
grapes

In [2]:
#slicing of tuple.

#Whenever you do slicing in tuples,list,dictionary , sets.
#you take circular braces in which first number is the index value and second number is the position, which is added with plus one.
#Whenever you do code in square braces,you have to delete one from the position of the second number.


numbers = (10,20,30,40,50,60)
print(numbers[1:4])

(20, 30, 40)

In [3]:
#Sorting of tuples
nums = ( 50,10,40,30,20)
#Ascending sort
asc = tuple(sorted(nums))
print(tuple(sorted(nums)))
print("Ascending : ",asc)

print("Descending : ",tuple(sorted(nums,reverse=True)))

(10, 20, 30, 40, 50)
Ascending :  (10, 20, 30, 40, 50)
Descending :  (50, 40, 30, 20, 10)

In [4]:
#Finding minimum and maximum
nums = ( 5, 8,3,4,2)
print("Max : ",max(nums))
print("Min : ",min(nums))

Max :  8
Min :  2

In [5]:
#Count and Index
numbers = (1,2,2,3,4,2)
print(numbers.count(2))
print(numbers.index(2))

3
1

In [6]:
#tuple unpacking
colors = ("red","green","blue")

a,b,c = colors
print(a)
print(b)
print(c)

names = ("Ayush","Abhi","Lucky")
noida , delhi , haridwar = names
print(noida)
print(haridwar)
print(delhi)

red
green
blue
Ayush
Lucky
Abhi

In [7]:
#Nested tuples
nested = (1,(2,3),4)
print(nested[1])
print(nested[1][0])

(2, 3)
2

In [8]:
#Converting tuple into list
tup = (10,20,30)
lst = list(tup)

lst.append(40)

print(lst)

[10, 20, 30, 40]

In [9]:
#tuple concatenation and repetition
t1 = (1,2,3)
t2 = (4,5,6)

print(t1+t2)
print(t1*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [10]:
#Homework Questions

# Question 1 : 

# Write a program to take tuple of number ( 45,12,78,34,23) 
# Sort in ascending order 
# Sort in descending order

# Question 2 : 
# Given a tuple ( 15,25,35,10,50)
# Find max , min , and sum of all numbers 


# Question 3 : 

# Write a program to find how many times to appear in a tuple 
# (1,2,3,2,4,2,5) And also find the index of first occurance of 5

# Question 4 :
# Given a tuple ("python","java","c++") unpacked them in three variables and print them seperately 

# Question 5 : 

# t1 = (1,99,101)
# t2 = (4,34,6)
# Perform concatenation and repetition

In [12]:
# Question 1 : 

# Write a program to take tuple of number ( 45,12,78,34,23) 
# Sort in ascending order 
# Sort in descending order


numbers = (45,12,78,34,23)

print("Sorting in ascending order : ",tuple(sorted(numbers)))
print("Sorting in descending order : ",tuple(sorted(numbers,reverse=True)))

Sorting in ascending order :  (12, 23, 34, 45, 78)
Sorting in descending order :  (78, 45, 34, 23, 12)

In [20]:
# Question 2 : 

# Given a tuple ( 15,25,35,10,50)
# Find max , min , and sum of all numbers 

nums = (15,25,35,10,50)
print("max : ",max(nums))
print("min : ",min(nums))
print("sum : ",sum(nums))

max :  50
min :  10
sum :  135

In [18]:
# Question 3 : 

# Write a program to find how many times 2 appears in a tuple 
# (1,2,3,2,4,2,5) And also find the index of first occurance of 5

nums = (1,2,3,2,4,2,5)
print("Total number of 2 present in tuple : ",nums.count(2))
print("Index of first occurance of 5 : ",nums.index(5))

Total number of 2 present in tuple :  3
Index of first occurance of 5 :  6

In [16]:
# Question 4 :

# Given a tuple ("python","java","c++") unpacked them in three variables and print them seperately.

languages = ("python","java","c++")

l1 , l2 , l3 = languages

print("Language 1 : ",l1)
print("Language 2 : ",l2)
print("Language 3 : ",l3)

Language 1 :  python
Language 2 :  java
Language 3 :  c++

In [19]:
# Question 5 : 

# t1 = (1,99,101)
# t2 = (4,34,6)
# Perform concatenation and repetition

t1 = (1,99,101)
t2 = (4,34,6)

print("Concatenation of t1 and t2 : ",(t1+t2))
print("Repeat t1 2 times : ",t1*2)

Concatenation of t1 and t2 :  (1, 99, 101, 4, 34, 6)
Repeat t1 2 times :  (1, 99, 101, 1, 99, 101)